:root {
    --text-color: black;
    --background: #fefefe;
}

.dark-mode {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  color: var(--text-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  &__box {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
  }
  &__text {
    font-style: italic;
  }
}
