.logo {
    &__box {
      background: #fefefe;
      display: inline-block;
      box-sizing: border-box;
      margin-top: 2%;
      margin-bottom: 1.5%;
      margin-left: 20%;
      text-align: center;
      width: 60%;
    }
    &__box--inside {
      padding-bottom: 10px;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
    }
    &__pic {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
  }