@media (min-width: 768px) {
    .navigation {
      &__box {
        background: #fefefe;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        min-height: 20px;
      }
      &__box--links {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 98%;
        justify-content: left;
      }
      &--link {
        padding: 5px 12px;
        margin: 3px 5px;
      }
    }
  
    .hamburger {
      display: none;
    }
  
    .logo {
      &__box--inside {
        padding-bottom: 10px;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
      }
      &__pic {
        box-sizing: border-box;
        max-width: 400px;
        width: 100%;
        height: auto;   
        border-radius: 15px;     
      }
    }
  
    h2::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $dusty;
      margin: 1px;
    }
  
    .main {
      max-width: 1000px;
      margin: 60px auto 0;
    }
  
    .foodie-section {
      display: grid;
      grid-template-areas:
        "foodie-section__header foodie-section__header"
        "foodie-section__text foodie-list";
      column-gap: 3%;
      &__header {
        grid-area: foodie-section__header;
      }
      &__text {
        grid-area: foodie-section__text;
      }
      &__list {
        grid-area: foodie-list;
      }
    }
  }