.navigation {
  &__box {
    display: none;
    background: #fefefe;
    padding: 10px;
  }
  &--link {
    display: block;
    padding: 5px 12px;
    margin: 0 0 16px;
    text-align: center;
  }
  &--open {
    display: block;
  }
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
}

