@import "~normalize.css";

@import "_variables";
@import "modules/logo.scss";
@import "modules/navigation.scss";
@import "modules/media.scss";
@import "modules/dark-mode.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background: $dusty;
  color: $grey;
}

a {
  color: $grey;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  transition: color .3s linear;
  &:hover {
    color: $yellow;
  }
}

.header {
  background: $white;
  min-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-color: $yellow;
}

.navigation {
  &__box {
    background: $white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
}

.main {
  max-width: 1000px;
  margin: 60px auto 0;
  &__header {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
  }
}

.main-section {
  background: $white;
  box-sizing: border-box;
  padding: 2% 3%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  border-radius: 15px;
  border-style: solid;
  border-color: $yellow;
}

.about-section__picture {
  float: left;
  margin-right: 20px;
}

.foodie-section__picture {
  float: left;
  margin-right: 20px;
  display: block;
  max-width: 100%;
}

.travelling-section__picture {
  float: left;
  margin-right: 20px;
}

.learning-section__picture {
  float: left;
  margin-right: 20px;
}

.footer {
  color: $grey;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Inconsolata', monospace;
}


